# --------------------------
# -- example env.cfg
# --------------------------

# -- Proxmox SSH username and host that can run the qm command
PROXMOX_USER="root"
PROXMOX_HOST="192.168.1.2"

# -- Mikrotik SSH user that can run /ip/dhcp-server/lease print
MIKROTIK_USER="admin"
MIKROTIK_HOST="192.168.1.1"


