# --------------------------
# -- example env.cfg
# --------------------------

# -- Proxmox SSH username and host that can run the qm command
PROXMOX_USER="root"
PROXMOX_HOST="192.168.1.2"
# -- If you can't get sshkeys to work, then you can uncomment the line below and enter in your SSH password.
# PROXMOX_PASSWORD="yourpassword"

# -- Mikrotik SSH user that can run /ip/dhcp-server/lease print
MIKROTIK_USER="admin"
MIKROTIK_HOST="192.168.1.1"


